/* src/App.css */
body {
  background-color: #000000; /* Black background color */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  color: #f3e5f5; /* Lighter purple for headings */
  text-align: center;
}

a {
  color: #ffeb3b; /* Yellow for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
